@import "tailwindcss";

@theme {
  --color-primary: #662d91;
  --color-secondary: #f8fafc;
  --color-accent: #f97316;
  --color-success: #8bc53f;
  /* Green from logo */
}

@layer base {
  body {
    background-color: var(--color-secondary);
    color: #0f172a;
    /* slab-900 */
  }
}